{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>SmartCampus - Add Teacher</title>
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="main-wrapper">
    <!-- ...existing code from Dreamguys add-teacher.html... -->
    <div class="container">
        <h2>Add Teacher</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.mobile.label }}</label>
                        {{ form.mobile }}
                        {% if form.mobile.errors %}
                            <div class="text-danger">{{ form.mobile.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.gender.label }}</label>
                        {{ form.gender }}
                        {% if form.gender.errors %}
                            <div class="text-danger">{{ form.gender.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.date_of_birth.label }}</label>
                        {{ form.date_of_birth }}
                        {% if form.date_of_birth.errors %}
                            <div class="text-danger">{{ form.date_of_birth.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.joining_date.label }}</label>
                        {{ form.joining_date }}
                        {% if form.joining_date.errors %}
                            <div class="text-danger">{{ form.joining_date.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{ form.address.label }}</label>
                {{ form.address }}
                {% if form.address.errors %}
                    <div class="text-danger">{{ form.address.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>{{ form.teacher_image.label }}</label>
                {{ form.teacher_image }}
                {% if form.teacher_image.errors %}
                    <div class="text-danger">{{ form.teacher_image.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Add Teacher</button>
            <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>
